*{
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body{
  font-family: Poppins, sans-serif;
}

.nav{
  box-shadow: 10px 10px 10px rgba(0, 0, 0, 0.1);
  height:70px ;
  padding: 20px; 
}


.hero{
  display: flex;
  flex-direction: column;
  padding: 20px;

}
.hero--img{
  margin-top: 20px;
  align-self: center;
}

.hero--header{
  font-weight: SemiBold;
  font-size: 36px;
  margin-top: 20px;
}

.hero--p {
  max-width: 320px;
}

.card{
  padding: 20px;
}

.card--star{
  width: 14px;
  height: 14px;
  margin-right: 5px;
}

.card--img{
  height: 253px;
  width: 175px;
}

.grey{
  color:#918E9B
}

.card--price{
  font-weight: bold;
}

